/* IMPORTED STYLESHEETS */
@import url('/src/css/fonts.css');
/*@import url('/src/css/widescreen.css') screen and (min-width: 1100px);
@import url('/src/css/widescree.css') screen and (min-width: 600px);
@import url('/src/css/mobile.css') screen and (max-width: 480px);
*/
/*
TO DO:
CONVERT THIS STYLESHEET TO MOBILE FIRST
SINCE THE IMPORT AT THE TOP WILL AUTOMATICALLY
OVERRIDE THIS STYLE SHEET ONCE PIXELS REACH
MINIMUM WIDTH.

ALL GLOBAL STYLES SHOULD ALSO BE PLACED HERE.

- REMOVE/REPLACE/REFACTOR MEDIA QUERIES
- CHANGE IMAGE SOURCES IF NECESSARY
- ADD NEW CLASSES IF NEEDED
*/

/* GLOBAL DOM STYLES */
body {
  width: 100%;
	margin: 0px;
	padding: 0px;
  font-family: sans-serif;
}

h1, h2, h3 {
	margin: 0px;
}

a, a:hover {
  text-decoration: none;
  text-transform: none;
}

a.text-link {
  color: #616161;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a.text-link:hover {
  color: #e91e63;
}

span.text-button {
  color: #616161;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

span.text-button:hover {
  color: #e91e63;
}

button {
  font-family: rbt_Med, sans-serif;
  font-size: calc(0.5rem + 0.7vmin);
  text-transform: uppercase;
  padding: calc(0.5rem + 1vmin);
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

button:hover {
}

button.contained {

}

button.contained:hover {

}

button.outlined {
  color: #e91e63;
  font-size: calc(0.5rem + 1vmin);
  border: 0.2vmin solid #8e8e8e;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button.outlined:hover {
  color: #ff6090;
  background-color: #fafafa;
}

span.span--triggers {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  cursor: pointer;
}

span.span--triggers:hover {
  color: #e91e63;
}

/* GLOBAL WRAPPER AND CONTAINERS */
.wrapper {
  width: calc(0.5rem + 75vw);
  display: block;
  margin: auto;
  color: #616161;
}

.container {
  width: 95%;
  margin: auto;
}
/* GLOBAL WRAPPER AND CONTAINERS */

/* GLOBAL VISIBILITY AND MISCELLANEOUS DOMS */
.show-on-demand {
  display: none;
}

.divider {
  max-width: 100%;
  max-height: 0.2vmin;
  border-top: 0.2vmin solid #ccc;
}

.spacer {
  max-width: 100%;
  max-height: 0.5vmin;
}

/* SCRIM OVERLAY */
#scrim {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.5);
  display: none;
}

/* ALTERNATE LAYOUTS FOR URANOHOSHI GIRLS ACADEMY POST */
/* INITIALLY SET DISPLAY TO NONE AND SET DISPLAY USING THE MEDIA QUERY */
.widescreen--uranohoshi-girls-academy, .mobile--uranohoshi-girls-academy, .alter-photo {
  display: none;
}

/* GLOBAL VISIBILITY AND MISCELLANEOUS DOMS */

/******************************************************************************/
/* BEGIN FULL VIEWPORT / FULL SCREEN DOMS *************************************/
/******************************************************************************/

/* FULL VIEWPORT OR FULL SCREEN DOMS */
/* OVERRIDE THESE RULES WHEN NEEDED UNDER MEDIA QUERIES. */

/* TPBR */
/** TOP BAR **/
#navbar--widescreens-transparent {
  display: block;
	width: 100vw;
	position: fixed;
  padding: calc(0.5rem + 2vmin);
  padding-left: calc(0.5rem + 10vmin);
  padding-right: calc(0.5rem + 10vmin);
  color: #e91e63;
}

#navbar--for-widescreens {
	display: none;
	width: 100vw;
	position: fixed;
	padding: calc(0.5rem + 2vmin);
  padding-left: calc(0.5rem + 10vmin);
  padding-right: calc(0.5rem + 10vmin);
	background-color: #e91e63;
	box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.35), 1px 3px 5px rgba(0, 0, 0, 0.35);
}

.navbar-transparent {
  background-color: transparent;
}

.navbar {
  font-family: rbt_Black, sans-serif;
  font-size: calc(0.5rem + 1.5vmin);
  color: #fff;
}

a.navbar--link {
  text-decoration: none;
  font-family: rbt_Med, sans-serif;
  font-size: calc(0.5rem + 1.5vmin);
  color: #fafafa;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  transition-timing-function: ease;
}

a.navbar--link:hover {
  font-size: calc(0.5rem + 1.7vmin);
  color: #fff;
}

a.navbar--link-transparent {
  text-decoration: none;
  font-family: rbt_Med, sans-serif;
  font-size: calc(0.5rem + 1.5vmin);
  color: #8e8e8e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  transition-timing-function: ease;
}

a.navbar--link-transparent:hover {
  font-size: calc(0.5rem + 1.7vmin);
  color: #373737;
}

.navbar-text, .material-icons{
  display: inline-flex;
  vertical-align: middle;
  font-size: 3.3vmin
}

.icons {
  margin-right: calc(0.5rem + 1vw);
}

.toggle {
  cursor: pointer;
}

.navbar-flex-container {
  display: flex;
  flex-flow: row nowrap;
  vertical-align: middle;
  align-items: center;
  /*max-width: 86.5vw;*/
}

.flexbox {
  display: inline-flex;
  vertical-align: middle;
  font-size: 3.3vmin;
  margin-left: calc(0.5rem + 2vmin);
}

.flex-spacer {
  width: calc(0.5rem + 50vw);
}

/* MENU DRAWER
THIS IS CURRENTLY SCALED AT 1000PX
RESCALE ACCORDINGLY AFTER INITIAL RULINGS. */
#menu-drawer {
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  width: 23vw;
  height: 100vh;
  background-color: #fafafa;
  overflow-x: hidden;
  box-shadow: 5px 0px 20px 5px rgba(0,0,0,0.3);
  display: none;
}

#drawer--header {
  max-width: 100%;
  height: calc(0.5rem + 20vmin);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(233, 30, 99, 0.4);
  margin-bottom: calc(0.5rem + 2vmin);
}

.drawer--child {
  font-family: rbt_Bold, sans-serif;
  font-size: calc(0.5rem + 3vmin);
  color: #fafafa;
}

#drawer--destinations {
  width: 100%;
  padding-bottom: calc(0.5rem + 5vmin);
}

#drawer--destinations .divider {
  margin-top: calc(0.5rem + 1vmin);
  margin-bottom: calc(0.5rem + 1vmin);
}


.drawer--destination-sets {
  width: 90%;
  margin: auto;
  padding-left: calc(0.5rem + 2vmin);
}

.drawer--destination-header {
  font-family: rbt_cndBold, sans-serif;
  font-size: calc(0.5rem + 2vmin);
  color: #373737;
  margin-bottom: calc(0.4rem + 1px);
}

.drawer--destination-list {
  font-family: rbt_cndRegular, sans-serif;
  color: #616161;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.drawer--destination {
  padding: 0.4rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.drawer--destination:hover {
  color: #e91e63;
  background-color: rgba(233, 30, 99, 0.2);
}

/* NEW TOAST MESSAGES */
/* USE PREVIOUS STYLE RULES FOR 2000PX
  THEN RESTYLE FOR 1000PX MINIMUM.
*/
#toast--container {
  display: none;
  z-index: 20;
  max-width: 80vw;
  bottom: calc(0.5rem + 2vh);
  right: calc(0.5rem + 1vw);
  background-color: #373737;
  position: fixed;
  font-family: rbt_Regular, sans-serif;
  font-size: calc(0.5rem + 1.5vmin);
  padding: 5vmin;
  color: #fff;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
}

#toast--flexbox {
  max-width: 80vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
}

.toast--child {
  align-self: center;
}

#toast--dismiss {
  font-family: rbt_Med, sans-serif;
}

#toast--dismiss span {
  color: #e91e63;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  cursor: pointer;
}

#toast--dismiss span:hover {
  color: #ff6090;
}

#toast--spacer {
  width: calc(0.5rem + 10vmin);
}

/******************************************************************************/
/* BEGIN MEDIA QUERIES ********************************************************/
/******************************************************************************/

/* QUERYL */
/* LARGE SCREENS */
/* FOR RESOLUTIONS ABOVE 1100PX TO 2000PX */
@media screen and (max-width: 2000px) {
  body {
    width: 100%;
  	margin: 0px;
    padding: 0px;
    background-color: #fff;
    font-family: sans-serif;
  }

  section {
      max-width: 100vw;
      margin: 0px;
      padding: 0px;
  }

  .alter-photo {
    display: none;
  }

  .widescreen--uranohoshi-girls-academy {
    display: block;
  }

  .mobile--uranohoshi-girls-academy {
    display: none;
  }

  /* SCALED AT 1000PX MINIMUM WITH A VIEWPORT OF 1300PX+ */
  #header {
    height: 100vh;
    padding-top: calc(0.5rem + 5vmin);
  }

  #cover-image-container {
    max-width: 100vw;
    /*height: 65vh;*/
  }

  #cover-image {
    content:url('/src/images/mfs-image.jpeg');
    max-width: 100%;
    /*max-height: calc(0.5rem + 65vmin);*/
    display: block;
    margin: auto;
  	object-fit: contain;
  }

  #header-text {
    /*position: absolute;*/
    max-width: 100vw;
    text-align: center;
  }

  .board-label-main {
    font-family: rbt_Black;
  	font-size: calc(0.5rem + 5.5vmin);
    color: #f50057;
    margin-bottom: calc(0.5rem + 1.5vmin);
  }

  .board-label-sub {
    font-family: opensans-regular;
    font-size: calc(0.5rem + 1.8vmin);
  }

  .padded {
    padding: calc(0.5rem + 2vmin);
  }

  /* CENTRAL BOARDS */
  .central-board {
    border: 1px solid #fff;
    background-color: #fff;
    padding-top: calc(0.5rem + 15vmin);
    padding-bottom: calc(0.5rem + 15vmin); /* THE REMAINDER 4VMIN SHOULD BE TAKEN FROM THE NEXT SECTION'S PADDING */
  }

  .paragraph-container {
    width: calc(0.5rem + 80vmin);
    margin-left: 0px;
  }

  .board-header {
    font-family: rbt_Light;
    font-size: calc(0.5rem + 4.5vmin); /* 3.1vw */
    color: #313131;
    margin-bottom: 0px;
    text-rendering: geometricPrecision;
  }

  .board-paragraph {
  	color: #717171;
    font-family: opensans-regular;
    font-size: calc(0.5rem + 1vmin); /* 1.5vw */
    text-align: left;
  }

  .section-photobox {
    width: calc(0.5rem + 80vmin);
    height: auto;
  }

  .photo {
    /*content: url('/src/images/muse-group.jpg');*/
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    margin-bottom: calc(0.5rem + 1.1vmin);
    object-fit: contain;
  }

  .caption {
    font-family: opensans-regular, sans-serif;
  }

  /* LINK CARDS
  THIS ELEMENTS ARE SCALED FOR 767PX MINIMUM. THIS SHOULD ALSO BE SCALED
  FOR OTHER RESOLUTIONS.
  */
  .cards {
      margin-top: calc(0.5rem + 10vmin);
  }

  .cardholder {
    display: inline-block;
    margin-left: 0.8vmin;
    min-width: 35vmin;
    max-width: 40vmin;
    background-color: #fff;
    box-shadow: 0 0px 5px rgba(100,100,100,0.20), 0 0px 5px rgba(100,100,100,0.20);
    border-radius: 5px 5px 5px 5px;
    -webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  }

  .cardholder:hover {
    background-color: #eee;
    box-shadow: 5px rgba(100,100,100,0.50), 5px rgba(100,100,100,0.50);
  }

  .card-container {
    padding: 1.5vmin;
    color: #313131;
  }

  .card-title {
    font-size: calc(0.5rem + 1vmin);
    font-family: rbt_Bold;
  }

  .card-label, .card-desc  {
    font-family: opensans-regular;
    font-size: calc(0.5rem + 0.7vmin);
    color: #919191;
    padding: 0px;
  }

  /* FLEX CONTAINER FOR 2-PANEL POSTS
  THESE ARE SCALED. MAKE SURE TO INCLUDE IN QUERIES/STYLESHEETS
  TO BE USED FOR OTHER DEVICES. SCALED AT 767PX MIN */
  .flex-container {
    max-width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    vertical-align: top;
    justify-content: center;
    align-items: center;
  }

  .flex-panel {
    display: inline-flex;
    vertical-align: middle;
  }

  .flex--photobox {
    width: calc(0.5rem + 70vmin);
  }

  .flex--photo {
    content: url('/src/images/llsif-aqours-group-2.jpg');
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    object-fit: contain;
  }

  .flex--paragraph-container {
    width: calc(0.5rem + 40vmin);
    padding: calc(0.5rem + 1vmin);
  }

  .centered {
    text-align: center;
  }

  .expanded {
    width: 100%;
  }

  .nigi {
    display: inline-flex;
  }

  .hidari {
    text-align: left;
  }

  /* COMMENTS BOARD */
  #comment-board {
    padding-top: calc(0.5rem + 10vmin);
    padding-bottom: calc(0.5rem + 10vmin);
    border: 1px solid #fff;
    background-color: #fff;
  }

  .container--comments {
    width: 60%;
    margin: auto;
  }

  #heading-controls {
    max-width: 100vw;
    display: block;
  }

  .comments--flexpanel {
    display: inline-flex;
    height: calc(0.5rem + 4.5vmin);
    vertical-align: middle;
    align-content: center;
    border: 1px solid #ff0000;
  }

  .comments--button-container {
    margin-top: calc(0.5rem + 1vmin);
  }

  /* COMMENTS BOARD */
  /* WILL BE RESTYLED USING 1000PX MIN
  ADJUST FOR OTHER QUERIES. */
  #comments-board {
    padding: calc(0.5rem + 3vmin);
    padding-top: 0px;
    padding-left: 0px;
  }

  .comment-post {
    width: 80%;
  	margin-top: calc(0.5rem + 2vmin);
    padding: calc(0.5rem + 1vmin);
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #fff;
    box-shadow: 0 0px 5px rgba(100,100,100,0.15), 0 0px 5px rgba(100,100,100,0.15);
  }

  .comment-post a {
    font-family: opensans-bold, sans-serif;
    font-size: calc(0.5rem + 1.1vmin);
    color: #e91e63;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .comment-post a:hover {
    color: #b00039;
  }

  .user-photo-container {
  	float: left;
  	width: calc(0.5rem + 9.2vmin);
  	height: calc(0.5rem + 9.2vmin);
  }

  .user-name-container {
  	margin-left: calc(0.5rem + 1vmin);
  	padding-top: calc(0.5rem + 1vmin);
  	display: inline-block;
  	height: calc(0.5rem + 9.2vmin);
  }

  .user-photo {
  	width: calc(0.5rem + 9.2vmin);
  	height: calc(0.5rem + 9.2vmin);
  	object-fit: cover;
  	border-radius: 50%;
  }

  .timestamp {
  	display: block;
  	margin-top: 0px;
    font-family: opensans-regular, sans-serif;
    font-size: calc(0.5rem + 0.8vmin);
  }

  .comment-paragraph {
  	color: #616161;
  	margin-top: 0px;
  	font-family: opensans-regular;
    font-size: calc(0.5rem + 1vmin);
  }

  /* ADD REACT FIELD */
  #addreact--container {
    z-index: 2; /* REPLACE WITH 1 AFTER STYLING */
    display: none;
    position: fixed;
    top: 25%;
    left: 31%;
    background-color: #fafafa;
    border: 1px solid #fafafa;
    padding: calc(0.5rem + 2vmin);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    overflow: auto;
  }

  #addreact--form-wrapper {
    max-width: inherit;
    max-height: 100%;
    margin: auto;
    padding: calc(0.5rem + 2vmin);
    padding-bottom: 0;
  }

  #addreact--form-actions {
    max-width: inherit;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    padding-top: 0;
    font-family: rbt_Bold, sans-serif;
    color: #616161;
  }

  /* APPLY THIS STYLE TO ALL CONTAINED BUTTONS */
  #addreact--form-actions button {
    font-family: rbt_Bold, sans-serif;
    padding: calc(0.1rem + 1.5vmin);
    padding-left: calc(0.1rem + 2vmin);
    padding-right: calc(0.1rem + 2vmin);
    background-color: #e91e63;
    color: #fff;
    border: 0px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }

  .react--post {
    order: 2;
  }

  .react--cancel {
    order: 1;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-family: rbt_Regular, sans-serif;
  }

  .react--cancel:hover {
    color: #e91e63;
  }

  .react--child {
    margin-left: 1rem;
  }

  #addreact--form-wrapper label {
    font-family: opensans-regular;
    font-size: calc(0.4rem + 1vmin);
    color: #616161;
  }

  .addreact--input-container {
    margin-bottom: calc(0.5rem + 2vmin);
  }

  .addreact--input-field:hover {
    border: 0.1rem solid #e91e63;
  }

  .addreact--input-field:focus {
    border: 0.1rem solid #e91e63;
  }

  .addreact--input-field {
    padding: 0.5rem;
    border: none;
    border: 0.1rem solid #616161;
    border-radius: 5px;
    background-color: transparent;
    transition: 0.3s;
    -webkit-transition: 0.3s;
  }

  .name-field {
    width: calc(0.5rem + 20vmin);
  }

  .label {
    display: none;
    transition: 0.2s;
    -webkit-transition: 0.2s;
  }

  textarea {
    resize: none;
    font-family: opensans-regular, sans-serif;
    font-size: calc(0.5rem + 1vmin);
  }

  #videoplayer--container {
    width: 100%;
    height: 200px;
    margin: auto;
    border: 1px solid #aaa;
    background-color: #eee;
    display: none;
  }

  #videoplayer--container video {
    width: 200px;
    height: 200px;
    display: none;
    margin: auto;
  }

  #videoplayer--container canvas {
    width: 200px;
    height: 200px;
    display: none;
    margin: auto;
  }

  #videoplayer--controls-container {
    width: 100;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-family: rbt_cndRegular, sans-serif;
    font-size: calc(0.5rem + 1vmin);
  }

  #videoplayer--notice {
    text-align: center;
    font-family: rbt_cndRegular, sans-serif;
    font-size: calc(0.5rem + 1vmin);
    color: #616161;
    margin: 1rem;
    display: none;
  }

  #videoplayer--controls-container button {
    font-size: calc(0.5rem + 0.7vmin);
  }

  #feed-btn, #capture-btn, #stop-feed {
    display: none;
  }

  .camera-control {
    margin: calc(0.5rem + 0.5vmin);
    margin-top: 0;
    margin-bottom: 0;
  }

  #addreact--upload-file-header {
    margin-bottom: calc(0.5rem + 1vmin);
  }

  /* FOOTER */
  #footer {
    height: 35vh;
    background-color: #eee;
    border: 1px solid #eee;
  }

  .footer--texts {
      width: 60%;
      font-family: rbt_Regular, sans-serif;
      font-size: calc(0.5rem + 0.7vmin);
      color: #8e8e8e;
      margin-top: calc(0.5rem + 3vmin);
      margin-bottom: calc(0.5rem + 3vmin);
  }

  .footer--texts span {
    display: block;
  }

  .emphasized {
    font-family: rbt_Bold;
  }
}
/* END LARGE SCREEN STYLES */

/******************************************************************************/

/******************************************************************************/

/* QUERYM */
/* MEDIUM SCREENS */
@media screen and (max-width: 1100px) {
  body {
    width: 100%;
  	margin: 0px;
    padding: 0px;
    background-color: #ff00ff;
  }

  section {
      max-width: 100vw;
      margin: 0px;
      padding: 0px;
  }

  .navbar-flex-container .hide--on-narrow-viewports {
    display: none;
  }
}

/******************************************************************************/

/******************************************************************************/

/* QUERYS */
/* SMALL SCREENS */
@media screen and (max-width: 480px) {
  body {
    width: 100vw;
  	margin: 0px;
    padding: 0px;
    background-color: #fff;
    font-family: sans-serif;
  }

  section {
      max-width: 100vw;
      margin: 0px;
      padding: 0px;
  }

  /* GLOBAL WRAPPER AND CONTAINERS */
  .wrapper {
    width: calc(0.5rem + 85vw);
    display: block;
    margin: auto;
    color: #616161;
  }

  .container {
    width: 95%;
    margin: auto;
  }
  /* GLOBAL WRAPPER AND CONTAINERS */

  /* HIDE THE RIGHT-SIDE LINKS WHENEVER THE SCREEN DROPS BELOW 1100PX */
  .navbar-flex-container .hide--on-narrow-viewports {
    display: none;
  }

  .widescreen--uranohoshi-girls-academy {
    display: none;
  }

  .mobile--uranohoshi-girls-academy {
    display: block;
  }

  /* TOPBAR FOR SMALL SCREENS; MAX 480PX, TESTED USING NEXUS 5 IN FF AND CHROME */
  #navbar--widescreens-transparent {
    display: block;
  	width: 100vw;
  	position: fixed;
    padding: calc(0.5rem + 3vmin);
    color: #e91e63;
  }

  #navbar--for-widescreens {
  	display: none;
  	width: 100vw;
  	position: fixed;
  	padding: calc(0.5rem + 3vmin);
  	background-color: #e91e63;
  	box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.35), 1px 3px 5px rgba(0, 0, 0, 0.35);
  }

  .navbar-transparent {
    background-color: transparent;
  }

  .navbar {
    font-family: rbt_Black, sans-serif;
    font-size: calc(0.5rem + 2vmin);
    color: #fff;
  }

  #navbar--widescreens-transparent .navbar-text {
    display: none;
  }

  .navbar-text {
    font-size: 5.5vmin;
  }

  .material-icons{
    display: inline-flex;
    vertical-align: middle;
    font-size: 4vmin
  }

  .icons {
    margin-right: calc(0.5rem + 1vw);
  }

  /* MENU DRAWER
  THIS IS CURRENTLY SCALED AT 1000PX
  RESCALE ACCORDINGLY AFTER INITIAL RULINGS. */
  #menu-drawer {
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 85vw;
    height: 100vh;
    background-color: #fafafa;
    overflow-x: hidden;
    box-shadow: 5px 0px 20px 5px rgba(0,0,0,0.3);
    display: none;
  }

  #drawer--header {
    max-width: 100%;
    height: calc(0.5rem + 35vmin);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(233, 30, 99, 0.4);
    margin-bottom: calc(0.5rem + 2vmin);
  }

  .drawer--child {
    font-family: rbt_Bold, sans-serif;
    font-size: calc(0.5rem + 3vmin);
    color: #fafafa;
  }

  #drawer--destinations {
    width: 100%;
    padding-bottom: calc(0.5rem + 5vmin);
  }

  #drawer--destinations .divider {
    margin-top: calc(0.5rem + 2.5vmin);
    margin-bottom: calc(0.5rem + 2.5vmin);
  }

  .drawer--destination-sets {
    width: 90%;
    margin: auto;
    padding-left: calc(0.5rem + 10vmin);
  }

  .drawer--destination-header {
    font-family: rbt_cndBold, sans-serif;
    font-size: calc(0.5rem + 2.5vmin);
    color: #373737;
    margin-bottom: calc(0.4rem + 1px);
  }

  .drawer--destination-list {
    font-family: rbt_cndRegular, sans-serif;
    color: #616161;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }

  .drawer--destination {
    padding: calc(0.5rem + 1vmin);
    transition: 0.3s;
    -webkit-transition: 0.3s;
  }

  .drawer--destination:hover {
    color: #e91e63;
    background-color: rgba(233, 30, 99, 0.2);
  }

  /* HEADER */
  #header {
    height: auto;
    padding-top: 0px;
  }

  #cover-image-container {
    max-width: 100vw;
    /*height: 65vh;*/
  }

  /* COVER IMAGE AND TEXT FOR SMALL SCREENS */
  #cover-image {
    display: none;
  }

  /* JUST IN CASE, HIDE THE IMAGE ABOVE AND REPLACE IT WITH THIS IMAGE. */
  .alter-photo {
    max-width: 100%;
    /*max-height: calc(0.5rem + 65vmin);*/
    display: block;
    margin: auto;
  	object-fit: fill;
  }

  #header-text {
    /*position: absolute;*/
    max-width: 100vw;
    text-align: left;
  }

  .board-label-main {
    font-family: rbt_Black;
  	font-size: calc(0.5rem + 6vmin);
    color: #f50057;
    margin-bottom: calc(0.5rem + 1.5vmin);
  }

  .board-label-sub {
    font-family: opensans-regular;
    font-size: calc(0.5rem + 2vmin);
  }

  .padded {
    padding: calc(0.5rem + 2vmin);
    padding-bottom: calc(0.5rem + 15vmin);
    padding-top: 0px;
  }

  /* CENTRAL BOARDS */
  .central-board {
    border: 1px solid #fff;
    background-color: #fff;
    padding-top: calc(0.5rem + 15vmin);
    padding-bottom: calc(0.5rem + 15vmin);
  }

  .paragraph-container {
    width: 100%;
    margin-left: 0px;
  }

  .board-header {
    font-family: rbt_Light;
    font-size: calc(0.5rem + 6vmin); /* 3.1vw */
    color: #313131;
    margin-bottom: 0px;
    text-rendering: geometricPrecision;
  }

  .board-paragraph {
  	color: #717171;
    font-family: opensans-regular;
    font-size: calc(0.5rem + 2vmin); /* 1.5vw */
    text-align: left;
  }

  .section-photobox {
    width: calc(0.5rem + 80vmin);
    height: auto;
  }

  .photo {
    /*content: url('/src/images/muse-group.jpg');*/
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    margin-bottom: calc(0.5rem + 1.1vmin);
    object-fit: contain;
  }

  .caption {
    font-family: opensans-regular, sans-serif;
    font-size: calc(0.5rem + 1vmin);
  }

  /* LINK CARDS */
  .cards {
      margin-top: calc(0.5rem + 10vmin);
  }

  .cardholder {
    display: inline-block;
    margin-left: 0.8vmin;
    min-width: 35vmin;
    max-width: 50vmin;
    background-color: #fff;
    box-shadow: 0 0px 5px rgba(100,100,100,0.20), 0 0px 5px rgba(100,100,100,0.20);
    border-radius: 5px 5px 5px 5px;
    -webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  }

  .cardholder:hover {
    background-color: #eee;
    box-shadow: 5px rgba(100,100,100,0.50), 5px rgba(100,100,100,0.50);
  }

  .card-container {
    padding: 1.5vmin;
    color: #313131;
  }

  .card-title {
    font-size: calc(0.5rem + 1vmin);
    font-family: rbt_Bold;
  }

  .card-label, .card-desc  {
    font-family: opensans-regular;
    font-size: calc(0.5rem + 0.7vmin);
    color: #919191;
    padding: 0px;
  }

  /* NEGATE THE CENTERING OF CENTERED CLASSES */
  .centered {
    text-align: left;
  }

  /* COMMENTS BOARD */
  #comment-board {
    padding-top: calc(0.5rem + 10vmin);
    padding-bottom: calc(0.5rem + 10vmin);
    border: 1px solid #fff;
    background-color: #fff;
  }

  .container--comments {
    width: 85%;
    margin: auto;
  }

  #heading-controls {
    max-width: 100vw;
    display: block;
  }

  .comments--flexpanel {
    display: inline-flex;
    height: calc(0.5rem + 4.5vmin);
    vertical-align: middle;
    align-content: center;
    border: 1px solid #ff0000;
  }

  .comments--button-container {
    margin-top: calc(0.5rem + 1vmin);
  }

  /* COMMENTS BOARD */
  /* WILL BE RESTYLED USING 1000PX MIN
  ADJUST FOR OTHER QUERIES. */
  #comments-board {
    padding: calc(0.5rem + 3vmin);
    padding-top: 0px;
    padding-left: 0px;
  }

  .comment-post {
    width: 100%;
  	margin-top: calc(0.5rem + 2vmin);
    padding: calc(0.5rem + 1vmin);
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #fff;
    box-shadow: 0 0px 5px rgba(100,100,100,0.15), 0 0px 5px rgba(100,100,100,0.15);
  }

  .comment-post a {
    font-family: opensans-bold, sans-serif;
    font-size: calc(0.5rem + 1.5vmin);
    color: #e91e63;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .comment-post a:hover {
    color: #b00039;
  }

  .user-photo-container {
  	float: left;
  	width: calc(0.5rem + 9.2vmin);
  	height: calc(0.5rem + 9.2vmin);
  }

  .user-name-container {
  	margin-left: calc(0.5rem + 1vmin);
  	padding-top: calc(0.5rem + 1vmin);
  	display: inline-block;
  	height: calc(0.5rem + 9.2vmin);
  }

  .user-photo {
  	width: calc(0.5rem + 10vmin);
  	height: calc(0.5rem + 10vmin);
  	object-fit: cover;
  	border-radius: 50%;
  }

  .timestamp {
  	display: block;
  	margin-top: 0px;
    font-family: opensans-regular, sans-serif;
    font-size: calc(0.5rem + 1vmin);
  }

  .comment-body {
    margin-top: calc(0.5rem + 1vmin);
  }

  .comment-paragraph {
  	color: #616161;
  	margin-top: 0px;
  	font-family: opensans-regular;
    font-size: calc(0.5rem + 1.5vmin);
  }

  /* ADD REACT FIELD */
  #addreact--container {
    z-index: 2; /* REPLACE WITH 1 AFTER STYLING */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    background-color: #fafafa;
    border: 1px solid #fafafa;
    padding: 0px;
    overflow: auto;
  }

  #addreact--form-wrapper {
    max-width: inherit;
    max-height: 100%;
    margin: auto;
    padding: 0px;
    padding-bottom: 0px;
  }

  #addreact--form-actions {
    max-width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    padding-top: 0;
    padding: calc(0.5rem + 4vmin);
    font-family: rbt_Bold, sans-serif;
    color: #616161;
  }

  /* APPLY THIS STYLE TO ALL CONTAINED BUTTONS */
  #addreact--form-actions button {
    font-family: rbt_Bold, sans-serif;
    font-size: calc(0.5rem + 1.5vmin);
    padding: calc(0.1rem + 2vmin);
    padding-left: calc(0.1rem + 4vmin);
    padding-right: calc(0.1rem + 4vmin);
    background-color: #e91e63;
    color: #fff;
    border: 0px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }

  .react--post {
    order: 2;
  }

  .react--cancel {
    order: 1;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-family: rbt_Regular, sans-serif;
  }

  .react--cancel:hover {
    color: #e91e63;
  }

  .react--child {
    margin-left: 1rem;
  }

  #addreact--form-wrapper label {
    font-family: opensans-regular;
    font-size: calc(0.4rem + 1vmin);
    color: #616161;
  }

  .addreact--input-container {
    padding-left: calc(0.5rem + 3vmin);
    margin-bottom: calc(0.5rem + 2vmin);
  }

  .addreact--input-field:hover {
    border: 0.1rem solid #e91e63;
  }

  .addreact--input-field:focus {
    border: 0.1rem solid #e91e63;
  }

  .addreact--input-field {
    padding: 0.5rem;
    border: none;
    border: 0.1rem solid #616161;
    border-radius: 5px;
    background-color: transparent;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    font-size: calc(0.5rem + 1.2vmin);
  }

  .name-field {
    width: calc(0.5rem + 30vmin);
  }

  .label {
    display: none;
    transition: 0.2s;
    -webkit-transition: 0.2s;
  }

  textarea {
    resize: none;
    font-family: opensans-regular, sans-serif;
    font-size: calc(0.5rem + 1vmin);
  }

  .addreact--upload-container {
    margin-bottom: calc(0.5rem + 5vmin);
  }

  #videoplayer--container {
    width: 100vw;
    height: 200px;
    border: 0px;
    background-color: #eee;
    margin: 0px;
    display: block;
  }

  /* USE STYLE RULES FROM SOURCE */
  #videoplayer--container video {
    width: 256px;
    max-width: 100%;
    display: none;
    margin: auto;
  }

  #videoplayer--container canvas {
    width: 256px;
    max-width: 100%;
    height: 200px;
    display: none;
    margin: auto;
  }

  #videoplayer--controls-container {
    width: 100;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-family: rbt_cndRegular, sans-serif;
    font-size: calc(0.5rem + 1vmin);
  }

  #videoplayer--notice {
    text-align: center;
    font-family: rbt_cndRegular, sans-serif;
    font-size: calc(0.5rem + 1vmin);
    color: #616161;
    margin: 1rem;
    display: block;
  }

  #videoplayer--controls-container button {
    font-size: calc(0.5rem + 0.7vmin);
  }

  #feed-btn {
    display: inline;
  }
  
  #capture-btn, #pick-image, #stop-feed {
    display: none;
  }

  .camera-control {
    margin: calc(0.5rem + 0.5vmin);
    margin-top: 0;
    margin-bottom: 0;
  }

  #addreact--upload-file-header {
    padding: calc(0.5rem + 1.1vmin);
    margin-bottom: 0px;
  }

  #addreact--upload-file-header span.caption {
    font-family: rbt_Med, sans-serif;
    font-size: calc(0.5rem + 1.3vmin);
  }

  /* FOOTER */
  #footer {
    height: auto;
    background-color: #eee;
    border: 1px solid #eee;
  }

  .footer--texts {
      width: 60%;
      font-family: rbt_Regular, sans-serif;
      font-size: calc(0.5rem + 0.7vmin);
      color: #8e8e8e;
      margin-top: calc(0.5rem + 3vmin);
      margin-bottom: calc(0.5rem + 3vmin);
  }

  .footer--texts span {
    display: block;
  }

  .emphasized {
    font-family: rbt_Bold;
  }

  /* NEW TOAST MESSAGES */
  /*
  THIS STYLE IS EXCLUSIVELY USED FOR MOBILE.
  OVERRIDE EVERY ATTRIBUTE HERE.
  */
  #toast--container {
    display: none;
    z-index: 20;
    width: 100vw;
    max-width: 100vw;
    bottom: 0;
    left: 0;
    background-color: #373737;
    position: fixed;
    font-family: rbt_Regular, sans-serif;
    font-size: calc(0.5rem + 1.8vmin);
    padding: 5vmin;
    padding-left: 0px;
    padding-right: 0px;
    color: #fff;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
  }

  #toast--flexbox {
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .toast--child {
    align-self: center;
  }

  #toast--dismiss {
    font-family: rbt_Med, sans-serif;
  }

  #toast--dismiss span {
    color: #e91e63;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    cursor: pointer;
  }

  #toast--dismiss span:hover {
    color: #ff6090;
  }

  #toast--spacer {
    width: calc(0.5rem + 35vmin);
  }

  /* THESE RULES WILL BE USED FOR DEVICES WITH LESS THAN 350PX WIDTH
  @media screen and (max-width: 350px) {
    #addreact--container {
      z-index: 2; /* REPLACE WITH 1 AFTER STYLING
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #fafafa;
      border: 1px solid #fafafa;
      overflow: auto;
    }
  }
   */
}




/******************************************************************************/
/* HIDDEN AND POTENTIALLY UNUSED ITEMS ****************************************/
/******************************************************************************/

/* NOTIFICATION BAR STYLING */
/* For large devices */
/* USE THIS FOR CURRENT STYLESHEET AT 1000PX MINIMUM
@media (max-width: 2000px) {
	#toast-container {
		z-index: 1;
		min-height: 0;
		max-width: 50vw;
		bottom: calc(0.5rem + 1vh);
    right: calc(0.5rem + 1vw);
    background-color: #263238;
		position: fixed;
		font-family: rbt_Med;
		font-size: calc(0.5rem + 1.5vmin);
		padding: 5vmin;
		color: #fff;
	}


}
 */

/* NATIVE DEVICE FEATURES TESTING AREA */
/* SOON TO BE DEPRECATED. REMOVE ONCE QUERY SETUP IS COMPLETED. */
#native--test-pad {
  z-index: 10;
  position: fixed;
  top: 10vh;
  left: 45vh;
  width: 50vw;
  height: 80vh;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
  overflow: auto;
  display: none;
}

#native--test-pad video, #native--test-pad canvas {
  max-width: 100%;
  display: none;
  margin: auto;
  border: 1px solid #aaa;
}

#native--test-pad #pick-image, #native--test-pad #location-loader {
  display: none;
}

#native--test-pad #capture-btn {
  margin: 10px auto;
}
